@charset "utf-8";
/* CSS Document */

.content .sidebar{border: 1px solid #e1e1e1; width: 212px; margin-top: 2%;}
.content .sidebar ul{ margin-left:-47%;  }
.content .sidebar li{ list-style: none;border-bottom: 1px solid #e1e1e1;width:212px;margin: 5% 0;}
.content .sidebar li:nth-child(4){border: none;}
.content .sidebar li h4{margin-left: 30%;}
.content .sidebar li .on{margin-bottom: 34%;}
.content .sidebar li a{margin-left: 34%; text-decoration: none;color: #000000; line-height: 27px;}
.content .sidebar li a:hover{color: #00bad9;}
.content .col-md-9{ margin-left: 2%; }
.content .man .title{background-color: #f7f7f7; }
.content .man .title h3{font-size: 26px;line-height: 40px; margin-left: 2%;}
.content .man .text{ background-image:url(../images/biankuang.png); background-repeat: no-repeat; width: 360px;height: 222px; margin-top: 2%;margin-left: 2%;}
.content .man .nav{ margin-top: 10%; }
.content .man .nav p{width: 260px; margin: 2% 9%;}
.content .man .min{width: 360px;height: 222px; border: 1px solid #e1e1e1;background-image:url(../images/fuhao.png);background-repeat: no-repeat; background-position: center; 
					margin-top: 2%; margin-left: 6%; cursor:pointer;}
.content .man .min p{position: relative;margin-left: 42%; margin-top: 43%;}

.content .list{ border:1px solid #e1e1e1;width:840px; height: 500px; margin-top: 5%; margin-bottom: 15%; }
.content .list p{margin: 1% 4%; font-size: 18px;}
.content .list .col-sm-10 input{width: 330px; line-height: 33px; background-color: #fafafa;}
.content .list .form-horizontal{ margin-top: 5%; }
.content .list .radio{margin-left:14%; } 
.content .list .radio img{ margin-left: 28%; }
.content .list .btn-default{ width: 140px; height: 40px; font-size: 20px;color: #ffffff; background-color:#00bad9;
							margin-top: 7%;margin-left: 36%;  }




