@charset "utf-8";
/* CSS Document */


.content .title h2{ font-size: 48px; margin-left: 43%; font-weight: bold;}
.content .map{width: 1200px; height: 625px; width: 100%; margin: 5% 0;}
.content .man{margin-bottom: 52%;}
.content .man p{ font-size: 24px; margin: 5% 0; }
.content .contact{background: #f5f0f0;}
.content .contact h3{font-size: 48px;border: 1px solid #0062a3; background-color:#0062a3; padding: 40px 80px;
						width: 444px;height: 130px; margin-left: 30%;margin-top: -5%;color: #ffffff;font-weight: normal; }
.content .box input{ width: 790px; line-height: 54px; border-radius: 5px;padding-left: 2%; }
.content .box img{border: 1px solid #ffffff; background-color:#000000;padding: 10px 20px; width: 72px; height: 45px;
					 margin: 11% 62% 11%;}
.content .box .col-md-9{margin: 2% 0;}
.content .box .col-md-3:hover img{background-color: #0099ff;}
.content .box textarea{border-radius: 5px;padding: 2% 2% 2%; height: 238px; width: 790px;}
.content .box .col-md-4 input{ width: 325px; line-height: 40px; border-radius: 0; }
.content .box p{ margin-left: 48%;  padding: 7px 18px; width: 115px;height: 45px;border: 1px solid #ffffff;
				color: #ffffff; font-size: 24px;font-weight: bold;background-color:#000000;}
.content .box .col-md-3:hover p{background-color: #0099ff;}
.content .box .col-md-4 img{border: 1px solid #ffffff; line-height: 24px; width: 220px;background-color: #0099ff;
							margin-left: 24%; margin-top: -1%;}

.content .box button{border: 1px solid #ffffff;width: 220px;background-color: #0062a3; padding: 14px 75px; font-size: 30px; font-weight: bold;
						margin-top: 2%;margin-bottom: 4%;margin-left: 75%;color:#ffffff; }