@charset "utf-8";
/* CSS Document */
.content .title ul{overflow: hidden; margin-left: 24%; }
.content .title li{ float: left; font-size: 30px; margin: 0 2%; list-style:none;  }
.content .title li a{color: #000; text-decoration: none;}
.content .title img{margin-top: -2%;}
.content .title li:hover a{ color: #2ec9e4; }
.content .text1{ margin-bottom: 33%; margin-top: 3%; }
.content .text1 a{color: #000; text-decoration: none;}
.content .text1 a:hover{color: #2ec9e4;}
.content .text1 h5{ margin-left: 60%; line-height: 30px;margin-top: 8%; }
.content .text1 p{ width: 95%; font-size: 18px; line-height: 36px;  margin-bottom: 5%;}
.content .text1 span{font-size: 20px;border: 1px solid #9966ff; padding: 10px 32px; }
.content .text2{ margin-bottom: 64%; margin-top: 3%; }
.content .text2 a{color: #000; text-decoration: none;}
.content .text2 a:hover{color: #2ec9e4;}
.content .text2 h5{ margin-left: 60%; line-height: 30px;margin-top: 8%; }
.content .text2 p{ width: 95%; font-size: 18px; line-height: 36px;  margin-bottom: 5%;}
.content .text2 span{font-size: 20px;border: 1px solid #9966ff; padding: 10px 32px; }
.content .text3{ margin-bottom: 95%; margin-top: 3%; }
.content .text3 a{color: #000; text-decoration: none;}
.content .text3 a:hover{color: #2ec9e4;}
.content .text3 h5{ margin-left: 60%; line-height: 30px;margin-top: 8%; }
.content .text3 p{ width: 95%; font-size: 18px; line-height: 36px;  margin-bottom: 5%;}
.content .text3 span{font-size: 20px;border: 1px solid #9966ff; padding: 10px 32px; }
.content .text4{ margin-bottom: 30%; margin-top: 3%; }
.content .text4 a{color: #000; text-decoration: none;}
.content .text4 a:hover{color: #2ec9e4;}
.content .text4 h5{ margin-left: 60%; line-height: 30px;margin-top: 8%; }
.content .text4 p{ width: 95%; font-size: 18px; line-height: 36px;  margin-bottom: 5%;}
.content .text4 span{font-size: 20px;border: 1px solid #9966ff; padding: 10px 32px; }