@charset "utf-8";
/* CSS Document */

.content .sidebar{border: 1px solid #e1e1e1; width: 212px; margin-top: 2%;}
.content .sidebar ul{ margin-left:-47%;  }
.content .sidebar li{ list-style: none;border-bottom: 1px solid #e1e1e1;width:212px;margin: 5% 0;}
.content .sidebar li:nth-child(4){border: none;}
.content .sidebar li h4{margin-left: 30%;}
.content .sidebar li .text{margin-bottom: 34%;}
.content .sidebar li .on a{color: #00bad9;}
.content .sidebar li a{margin-left: 34%; text-decoration: none;color: #000000; line-height: 27px;}
.content .sidebar li a:hover{color: #00bad9;}
.content .col-md-9{ margin-left: 2%; }
.content .man{margin-bottom: 18%;}
.content .man .title{ background-color: #f7f7f7; }
.content .man .title h3{font-size: 26px;line-height: 50px; margin-left: 2%;}
.content .man .nav{ margin-top: 4%; }
.content .man .nav a{ width: 80px;line-height: 30px;display: block;text-decoration: none;background-color: #f7f7f7;text-align: center;color: #000000; }
.content .man .nav span{color: #e30000;}
.content .man .nav .on a{background-color: #2d2d2d;color: #ffffff;}
.content .man .nav .col-md-2:hover a{background-color: #2d2d2d;color: #ffffff;}
.content .man .text2{line-height: 50px;background-color: #f7f7f7; margin-top: 5%;color: #929292;}
.content .man .text3 h4{line-height: 40px;}
.content .man .text3 span{color: #929292;}
.content .list{border: 1px solid #f7f7f7; margin-left: -1%;}
.content .list p{margin-top: 50px;}
.content .list .col-md-2 span{color:#00bad9; ;display: block;text-align: center;}
.content .list img{margin-top: 15px; margin-bottom: 15px;}
.content .list .col-md-1 p{font-size: 20px;}
.content .list .on p{color: #e30000;}
.content .list .on1 span{margin-top: 52px;display: block;margin-left: 34%;font-size: 18px;}
.content .list .col-md-2 p{margin-left: 18%;}





