@charset "utf-8";
/* CSS Document */

.content .cc{width: 1200px; line-height: 32px; background-color: #f7f7f7; display: block;border: 1px solid #f7f7f7;border-radius: 5px;margin-bottom: 3%;}
.content .cc .btn-danger{border:none; background-color:#f7f7f7; color:#00a5ff; }
.content .nav{border: 1px solid #f7f7f7;border-radius: 5px; width: 1200px;margin-left: -1%;margin-bottom: 3%; padding: 1% 0;}
.content .min .col-md-2 a{ width: 165px;line-height: 45px;text-decoration: none;color: #000000;background-color:#ffffff;text-align: center;display: block;
							font-size: 18px;}
.content .min .on a	{background-color: #00a5ff;color: #ffffff;text-decoration: none;}						
.content .min .col-md-2:hover a{background-color: #00a5ff;color: #ffffff;text-decoration: none;}
.content .nav span{color: #00dbff;}
.content .list{margin-bottom: 9%}
.content .list img{border: 1px solid #f7f7f7;display: block; text-align: center;padding: 10px 20px; margin: 37% 0;}
.content .list .text img{border: 1px solid #f7f7f7;display: block; text-align: center;padding: 7px 20px; margin: 37% 0;}
.content .list img:hover{border-color:#00a5ff; }
.content .list p{margin-top: 108%;font-size: 16px;font-weight: bold;}

.content .list .col-md-3{margin-top: 5%;}
.content .list .col-md-4 p{color: #e64346;font-size: 30px; margin-top: 12%;}
.content .list .col-md-4 button{display: block; width: 180px;line-height: 80px;background-color:#e64346;
								color: #ffffff;font-size: 30px;text-align: center; border-color: #ffffff; }

.modal-content{width: 854px; height: 533px;text-align: center;margin-top: 13%;margin-left: -22%;}
.modal-content h4{text-align: center;font-size: 34px;color: #cc0000;}
.modal-content .modal-header{border: none;}
.modal-content .modal-footer{border: none;}
.modal-content .modal-body p{font-size: 16px;}
.modal-content .modal-footer .btn-default{margin-left: 30%;display: block;margin-top: -17px;background-color:#cc0000;color: #ffffff;  width: 110px; height: 34px;}
.modal-content .modal-footer .btn-primary{display: block;margin-top: -34px;margin-left: 416px !important; width: 110px; height: 34px;background-color:#fafafa;color: #000000;
											border-color: #cccccc;}
    
.modal-content .modal-title1{text-align: center;font-size: 34px;color: #36b2ff;}
.modal-content .modal-body .on{font-size: 16px;margin-top: 5%;}
.modal-content .modal-footer1{border: none;margin-top: 2%;}
.modal-content .modal-footer1 .btn-default{margin-left: 30%;display: block;margin-top: -17px;background-color:#cc0000;color: #ffffff;  width: 110px; height: 34px;}
.modal-content .modal-footer1 .btn-primary{display: block;margin-top: -34px;margin-left: 416px !important; width: 110px; height: 34px;background-color:#fafafa;color: #000000;
											border-color: #cccccc;}
