@charset "utf-8";
/* CSS Document */
.header{margin: 0 auto; overflow: hidden;}
.header .header-top{ background: #f3f2ef;  overflow: hidden;}
.header .top-menu li{list-style-type: none;float:left; padding: 1% 4%;
    line-height: 100%; border-left: 1px solid #333333; } 
.header .top-menu li:nth-child(1){ border: none; } 
.header .top-menu li:nth-child(5){ border: none; }
.header .top-menu li a{  color: #333333; text-align: center; text-decoration: none;}
.header .menu{ background-color:  #ffffff; overflow: hidden; }
.header .menu .col-md-4 img{ padding: 5% 2%; }
.header .menu .col-md-8 li{list-style-type: none;float:left;padding: 5% 4%; }
.header .menu .col-md-8 li a{ color: #333333; font-size: 20px; text-decoration: none; }
.header .menu .col-md-8 li:hover a{color: #00dbff;}


.banner { overflow: hidden; }
.banner img{ width: 100%; }


.content{overflow: hidden;}
.content .beijing{width: 100%; margin-top: -6%;} 


.content .title ul{overflow: hidden; margin-left: 24%; }
.content .title li{ float: left; font-size: 30px; margin: 0 2%; list-style:none;  }
.content .title li a{color: #000; text-decoration: none;}
.content .title img{margin-top: -2%;  margin-left: 6%;}
.content .title li:hover a{ color: #2ec9e4; }
.content .col-md-1{ text-align: center;  }
.content .col-md-2{ font-size: 36px; }
.content .man .col-md-4 img{ width: 360px;height: 360px; margin: 10% 0; }
.content .nav .col-md-6 img{ margin-bottom: 6%; margin-top: 6%; }
.content .nav .col-md-6 p{ font-size: 36px;}
.content .nav .on a{ border: 1px solid #cccccc; padding: 15px 50px;font-size: 36px; margin-left: -9%; color: #000000;
					width: 250px; line-height: 70px;font-weight: bold;}
.content .nav .on a:hover{ border-color:#d80000 ; color:#ff3333;text-decoration: none; font-weight: bold;width: 250px; line-height: 70px;}
.content .page ul{margin-left: 28%; margin-top: 5%; margin-bottom: 5%; }
.content .page li{ margin:0 10px; float: left; list-style:none; border: 1px solid #a05aff;
					background-color: #a05aff;  padding: 7px 15px; }
				
.content .page li a{text-decoration: none; color: #ffffff;}
.content .page li:hover{background-color: #ffffff; border: none;}
.content .page li:hover a{color: #000000;}


.footer img{ width: 100%; margin-bottom: -4%;  }
.footer .top{ background: #f3f2ef;}
.footer .top .list{font-size: 20px; line-height: 20px; margin-top: 5%;}
.footer .top .col-md-6{margin-top: 10%;}
.footer .top .list .col-md-12:hover{color: #38d3ff;}
.footer .top .col-md-6 p{font-size: 20px; line-height: 52px;}
.footer .top .col-md-12{ padding: 5% 0; }
.footer .top li{ float: left; list-style-type: none; padding: 6% 0 0 15%;}
.footer .top li p{ text-align: center; }
.footer .top h4{ margin-top: 10% ; text-align: center;}
.footer .bottom{ background: #ccc9ba; padding: 1% 0; }
.footer .bottom span{ padding: 0 30%; }					