@charset "utf-8";
/* CSS Document */

.content .map{ line-height: 32px;  display: block;border-radius: 5px;margin-bottom: 3%;margin-top: 5%;}
.content .map p{margin-left: 16%;}
.content .map .col-md-3{margin-left: -3%;}
.content .map .btn-danger{background-color:#ffffff; color:#999999;border: none; }
.content .map .dropdown-toggle{color: #000000;}
.content .title{line-height: 40px;background-color: #fafafa;margin-top: 9%;text-align: center;}
.content .title .on{display: block;border-left: 1px solid #000000;width: 18px;height: 18px;}