@charset "utf-8";
/* CSS Document */

.content .sidebar{border: 1px solid #e1e1e1; width: 212px; margin-top: 2%;}
.content .sidebar ul{ margin-left:-47%;  }
.content .sidebar li{ list-style: none;border-bottom: 1px solid #e1e1e1;width:212px;margin: 5% 0;}
.content .sidebar li:nth-child(4){border: none;}
.content .sidebar li h4{margin-left: 30%;}
.content .sidebar li .text{margin-bottom: 34%;}
.content .sidebar li .on a{color: #00bad9;}
.content .sidebar li a{margin-left: 34%; text-decoration: none;color: #000000; line-height: 27px;}
.content .sidebar li a:hover{color: #00bad9;}
.content .col-md-9{ margin-left: 2%; }
.content .man{margin-bottom: 18%;}
.content .man .nav{ margin-top: 4%;width: 890px;background-color: #f7f7f7; }
.content .man .nav img{margin: 10% 0;}
.content .man .nav .text{line-height: 45px;}
.content .man .nav .text1{line-height: 45px;}
.content .man .nav .text2{line-height: 45px; overflow: hidden;}
.content .man .nav .progress{margin-top: 13%; margin-left: -87%;}
.content .man .nav .progress-bar{color: #ffffff;background-color: #f09412; }
.content .man .nav .text2 span{margin-left: -130%; color: #00cc00;}
.content .man .nav .text2 img{float: left; margin-top: 29%; padding: 0 5%;}
.content .man .nav .text4{margin-top: 3%;}
.content .man .nav .text4 p{line-height: 45px;}
.content .man .nav1{line-height:40px;border: 1px solid #e1e1e1;display:block;margin-left:2%;margin-top:4%;
					margin-bottom:4%;}
.content .man .text6{display:block; }
.content .man .text5{ margin-left:46%;margin-top:-5%; }
.content .man .text5 a{text-decoration:none;color:#000000;font-size:14px;}
.content .man .text5 span{color:#e64346;}
.content .man .text7 {border: 1px solid #e1e1e1;margin-bottom: 3%;margin-left:2%;}
.content .man .text7 img{margin: 5% 0;}
.content .man .text7 p{margin-top: 13%;}
.content .man .text7 .on2{font-size: 18px;margin-top: -2%;}
.content .man .text7 .on1{margin-top: 3%;}
.content .man .text7 .on1 a{display: block;width: 160px;line-height: 65px;background-color: #e64346;font-size: 24px;color: #ffffff;
							text-align: center;text-decoration: none;margin-left: -26%;}
.content .man .text7 .on1 p{margin-left: 18%;font-size: 18px;}							
.content .man .text7 span{margin-top: 52%;display: block;color: #1cabea;font-size: 18px;}
.content .man .text8 {border: 1px solid #e1e1e1;margin-bottom: 3%;margin-left:2%;}
.content .man .text8 img{margin: 5% 0;}
.content .man .text8 p{margin-top: 13%;}
.content .man .text8 .on2{font-size: 18px;margin-top: -2%;}
.content .man .text8 .on1{margin-top: 2%;}
.content .man .text8 .on1 a{font-size: 18px;display: block;line-height: 40px;margin-left: 20%;text-decoration: none;color: #000000;}
.content .man .text8 .on1 a:hover{color: #1cabea; }
.content .man .text8 span{margin-top: 52%;display: block;color: #1cabea;font-size: 18px;}
.content .man .text9 {border: 1px solid #e1e1e1;margin-bottom: 3%;margin-left:2%;}
.content .man .text9 img{margin: 5% 0;}
.content .man .text9 p{margin-top: 13%;}
.content .man .text9 .on2{font-size: 18px;margin-top: -2%;}
.content .man .text9 .on1{margin-top: 2%;}
.content .man .text9 .on1 a{font-size: 18px;display: block;line-height: 40px;margin-left: 20%;text-decoration: none;color: #000000;}
.content .man .text9 .on1 a:hover{color: #1cabea; }
.content .man .text9 span{margin-top: 52%;display: block;color: #1cabea;font-size: 18px;8


