@charset "utf-8";
/* CSS Document */


.content .col-md-4 img{ margin-left: -1%; margin-top: -9%; }
.content .col-md-8 h3{margin-left: -45%; margin-top: -3%; font-size: 36px;}
.content p{ font-size: 18px; line-height: 40px; text-indent: 2em;  margin-bottom: 2%; }