@charset "utf-8";
/* CSS Document */


.header{margin: 0 auto; overflow: hidden;}
.header .header-top{ background: #f3f2ef;  overflow: hidden;}
.header .top-menu li{list-style-type: none;float:left; padding: 1% 4%;
    line-height: 100%; border-left: 1px solid #333333; } 
.header .top-menu li:nth-child(1){ border: none; } 
.header .top-menu li:nth-child(5){ border: none; }
.header .top-menu li a{  color: #333333; text-align: center; text-decoration: none;}
.header .menu{ background-color:  #ffffff; overflow: hidden; }
.header .menu .col-md-4 img{ padding: 5% 2%; }
.header .menu .col-md-8 li{list-style-type: none;float:left;padding: 5% 4%; }
.header .menu .col-md-8 li a{ color: #333333; font-size: 20px; text-decoration: none; }
.header .menu .col-md-8 li:hover a{color: #00dbff;}

.banner { overflow: hidden; }
.banner img{ width: 100%; }


.content{overflow: hidden;}
.content .beijing{width: 100%; margin-top: -6%;} 


.footer img{ width: 100%; margin-bottom: -4%;  }
.footer .top{ background: #f3f2ef;}
.footer .top .col-md-7{ padding: 4% 0; }
.footer .top .col-md-6{ padding: 5% 0 0 0 ;}
.footer .top .col-md-12{ padding: 5% 0; }
.footer .top li{ float: left; list-style-type: none; padding: 16% 0 0 15%;}
.footer .top li p{ text-align: center; }
.footer .bottom{ background: #ccc9ba; padding: 1% 0; }
.footer .bottom span{ padding: 0 30%; }