@charset "utf-8";
/* CSS Document */


.header{margin: 0 auto; overflow: hidden;}
.header .header-top{ background: #f3f2ef;  overflow: hidden;}
.header .top-menu li{list-style-type: none;float:left; padding: 1% 4%;
    line-height: 100%; border-left: 1px solid #333333; } 
.header .top-menu li:nth-child(1){ border: none; } 
.header .top-menu li:nth-child(5){ border: none; }
.header .top-menu li a{  color: #333333; text-align: center; text-decoration: none;}
.header .menu{ background-color:  #ffffff; overflow: hidden; }
.header .menu .col-md-4 img{ padding: 5% 2%; }
.header .menu .col-md-8 li{list-style-type: none;float:left;padding: 5% 4%; }
.header .menu .col-md-8 li a{ color: #333333; font-size: 20px; text-decoration: none; }
.header .menu .col-md-8 li:hover a{color: #00dbff;}

.banner .carousel-indicators li{ margin: 0 1%; width: 20px; height: 20px; }
.banner .carousel-indicators li.active{ background : #0a8ee9;}



.content .beijing{ margin-top: -6%; width: 100%;} 
.content .aboutUs-header{ border-bottom: 5px solid #e9e9e9; padding: 0.5% 0; }
.content .aboutUs-header .col-md-4{margin-left:-5%; margin-top:0.5%;  }
.content .aboutUs-header img{width: 50%; height: 50%; margin-left: -5%;}

.content .aboutUs-header h3{ display: inline; font-size: 24px;}
.content .aboutUs-header span{ font-size: 20px; font-weight: normal; 
	                           margin-left: 2%; color: #b3b3b1; }
.content .aboutUs-header .col-md-2{ margin-top:7%;font-size: 20px;
									color: #31cde6;  margin-left: 78%; }	                           
.content .aboutUs-content{padding: 5% 0; }

.content .aboutUs-content .col-md-7{ margin-left: 8%;  }
.content .aboutUs-content .col-md-7 img{ width: 109%; }
.content .aboutUs-content  h4{ margin-left:-3%; font-size: 24px; margin-top: 0.5%;}
.content .aboutUs-content p{ margin-left: 2%;font-size: 18px; line-height: 230%;margin-top: 8%;}

.content .product-header{ border-bottom: 5px solid #e9e9e9; padding: 0.5% 0; }
.content .product-header .col-md-4{margin-left:-5%; margin-top:0.5%;  }
.content .product-header .col-md-4 img{display: block; width: 100%;}
.content .product-header .col-md-1 img{width: 50%; height: 50%;}

.content .product-header h3{ display: inline; font-size: 24px;}
.content .product-header span{ font-size: 20px; font-weight: normal; 
	                           margin-left: 2%; color: #b3b3b1; }
.content .product-header .col-md-2{ margin-top:7%;font-size: 20px;
									color: #31cde6;  margin-left: 78%; }
.content .product-man{ overflow: hidden; }									
.content .product-man a img{  float: left; padding: 5% 0; margin-right: 1%;}

.content .news-header{ border-bottom: 5px solid #e9e9e9; padding: 4.5% 0; }
.content .news-header .col-md-4{margin-left:-5%; margin-top:0.5%;  }
.content .news-header .col-md-4 img{display: block; width: 100%;}
.content .news-header .col-md-1 img{width: 50%; height: 50%;}
.content .news-header h3{ display: inline; font-size: 24px;}
.content .news-header span{ font-size: 20px; font-weight: normal; 
	                           margin-left: 2%; color: #b3b3b1; }
.content .news-header .col-md-2{ margin-top:7%;font-size: 20px;
									color: #31cde6;  margin-left: 78%; }

.content ul{ padding: 3% 0; }
.content li{ overflow: hidden; list-style-type: none; margin-left: 2%; margin-top: 3%;line-height: 18px; }
.content li img{ float: left; margin-top: 0.5%;}
.content li p{ float: left; font-size: 18px; margin-left: 2%; }

.content li span{ float: right; margin-right: 5%; }
.content ul li img.img1{ display: none; }
.content ul li:hover img.img1{ display:block;/*background-image: url(../images/tubiao5.jpg);*/ background-repeat: no-repeat;
  margin-left:-2%; }
.content ul li:hover p{color: #01c0df;}
.content .news-list .col-md-4{ margin-top: 4%; }

.footer img{ width: 100%; margin-bottom: -4%;  }
.footer .top{ background: #f3f2ef;}
.footer .top .col-md-7{ padding: 4% 0; }
.footer .top .col-md-6{ padding: 5% 0 0 0 ;}
.footer .top .col-md-12{ padding: 5% 0; }
.footer .top li{ float: left; list-style-type: none; padding: 16% 0 0 15%;}
.footer .top li p{ text-align: center; }
.footer .bottom{ background: #ccc9ba; padding: 1% 0; }
.footer .bottom span{ padding: 0 30%; }